<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Nombre de usuario" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="password"/>
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="onLogin()">
    <mat-icon>login</mat-icon>
    Ingresar
  </button>
  <div class="flex justify-content-end mt-4">
    <a routerLink="/auth/new-account" class="text-primary">¿No tienes una cuenta?</a>
  </div>
</div>
