<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input
      matInput
      placeholder="Buscar"
      type="text"
      [formControl]="searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      <mat-option
        [value]="hero"
        *ngFor="let hero of heroes"
      >
        {{hero.superhero}}
      </mat-option>
      <mat-option *ngIf="heroes.length === 0 && searchInput.value !== ''">
        No se encontraron resultados con {{searchInput.value}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
